body{
    scroll-behavior: smooth;
}

.fade-enter{
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active{
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.react-calendar__tile{
    border-radius: 10px;
}

.activity-tile{
  background-color: var(--mdb-primary)!important;
}

.diet-tile{
    background-color: var(--mdb-success)!important;
}

.both-tile{
  background-color: var(--mdb-danger)!important;
}

.react-calendar{
    border-radius: 0.5rem;
    border: 0px!important;
}

.table-responsive{
    max-height: 400px;
}

.navbar{
    padding:0px!important;
}

.d-md-flex.navbar .nav-link{
    margin: 0px 12px 0px 12px;
}

.navbar .nav-link p{
    margin: 0;
    font-size: 12px;
}

.navbar.fixed-bottom{
    box-shadow: 0 -12px 12px 0 rgba(0,0,0,0.07),0 2px 4px rgba(0,0,0,0.05);
}

.nav-link.active{
    color: var(--mdb-primary)!important;
}

.link-inactive{
    color: var(--mdb-navbar-color)!important;
    transition: all ease 0.15s;
}

.link-inactive:hover{
    color: var(--mdb-navbar-color-hover)!important;
}

.nav-link.link-inactive{
    color: var(--mdb-navbar-color)!important;
    transition: all ease 0.15s;
}

.nav-link.link-inactive:hover{
    color: var(--mdb-navbar-color-hover)!important;
}